.Rfor {
  display: flex;
  flex-direction: column;
  gap: 30px; /* Increased gap between form elements */
  max-width: 400px;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}

.Rtitl {
  font-size: 32px; /* Increased title font size */
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.Rtitl::before {
  width: 18px;
  height: 18px;
}

.Rtitl::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.Rtitl::before,
.Rtitl::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.cont {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add spacing between the elements inside .cont */
}

.Rmessag, 
.Rsigni {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.Rsigni {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 20px; /* Add some top margin */
}

.Rsigni a:hover {
  text-decoration: underline royalblue;
}

.Rsigni a {
  color: #00bfff;
}

.Rfle {
  display: flex;
  width: 100%;
  gap: 25px;
}

.Rfor label {
  position: relative;
}

.Rfor label .Rinpu {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 10px; /* Reduced input padding */
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.Rfor label .Rinpu + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px; /* Adjust this value to match the input padding */
  top: 50%;
  transform: translateY(-50%); /* Vertically center the span */
  font-size: 16px; /* Match the font size of the placeholder */
  cursor: text;
  transition: 0.3s ease;
}

.Rfor label .Rinpu:placeholder-shown + span {
  font-size: 16px; /* Match the font size of the placeholder */
}

.Rfor label .Rinpu:focus + span,
.Rfor label .Rinpu:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
  transform: translateY(-50%); /* Vertically center the span */
}

.Rinpu {
  font-size: 16px; /* Reduced input font size */
}

.Rsubmi {
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  transform: .3s ease;
  background-color: #00bfff;
  margin-top: 20px; /* Add some top margin */
}

.Rsubmi:hover {
  background-color: #00bfff96;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

